{%extends 'j_base.html'%}
{%block body_block%}
<div class="container">
            {%if messages%}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    {%for message in messages%}
                    <div class="alert alert-primary" role="alert">
                        {{message}}
                    </div>
                    {%endfor%}
                </div>
                <div class="col-1"></div>
            </div>
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row mt-5">
        <div class="col-2"></div>
       <div class="col-8">
    {%for job in filter.qs%}
           {%if job.end_date >=  today%}
    <a href="{%url 'job' job.id%}" class="text-decoration-none text-black"><div class="card mb-3 shadow" style="max-width: 54rem;" >
        <div class="card-header"><strong> {{job.Designation}}-Job Opening in {{job.company.company_name}}</strong></div>
            <div class="card-body text-left">
                <div class="row">
                    <div class="col-6">
                           <p>Experience:</i> {{job.experience}} years</p>
           <p>location:{{job.location}}</p>
                    </div>
                    <div class="col-6">
                        <img  src="{{job.company.company_logo.url}}" class="card-img text-end " alt="..." height="100px">
                    </div>
                </div>
        </div>
        <div class="card-footer ">Last Date of Submission:{{job.end_date}}<span style="margin-left:400px">
            <a href="{%url 'createapplication' job.id%}" class="btn btn-primary"> Apply</a></span>
        </div>
    </div></a>
            {%endif%}
    {%endfor%}

           </div>
         <div class="col-2"></div>
</div>
</div>
</div>
</div>
</div>


{%endblock%}